* {
  margin: 0;
  padding: 0;
  font-family: "Jost, sans-serif";
}

:root {
  --secondary: #0896A7;
  --primary: #EBF6F8;
}

.navbar {
  background-color: var(--secondary);
}

.navbar img {
  width: 90px;
}

.Meeting {
  background-image: url(./Assets/Images/world-map.12619baddc975bdc81ce.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
}